BODY,TD,TH,A,INPUT,TEXTAREA,SELECT {FONT-SIZE:9pt; FONT-FAMILY: 宋体,Verdana,Arial,Helvetica,sans-serif;color: #333333;}

BODY {
	SCROLLBAR-FACE-COLOR: #3A6592; 
	SCROLLBAR-HIGHLIGHT-COLOR: #3A6592; 
	SCROLLBAR-SHADOW-COLOR: #3A6592; 
	SCROLLBAR-DARKSHADOW-COLOR: #3A6592; 
	SCROLLBAR-3DLIGHT-COLOR: #3A6592; 
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR: #4DB5E4;}
TABLE.Menu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 95%;
	PADDING-TOP: 0px;
	border: 1px solid #6ab6b6;
}
TABLE.Menu TH {
	CURSOR: hand;
	COLOR: #ffffff;
	HEIGHT: 24px;
	BACKGROUND-COLOR: #86C4C4;
	font-weight: bold;
}
TABLE.Menu TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #eafefe
}
TABLE.Menu TD A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.Menu TD A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.Menu TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.Form {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; WIDTH: 95%; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #6ab6b6}
TABLE.Form TH {
	FONT-SIZE: 9pt; COLOR: #ffffff; font-weight: bold;HEIGHT: 24px; BACKGROUND-COLOR: #86C4C4
}
TABLE.Form TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #eafefe
}
TABLE.Form TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Form TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Form TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.List {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; WIDTH: 95%; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #6ab6b6
}
TABLE.List TH {
	COLOR: #ffffff; font-weight: bold;HEIGHT: 24px; BACKGROUND-COLOR: #86C4C4
}
TABLE.List TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #eafefe
}
TABLE.List TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.List TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.List TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.Navi {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 0px; WIDTH: 95%; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #6ab6b6
}
TABLE.Navi TH {
		FONT-SIZE: 9pt;
	COLOR: #ffffff;
	font-weight: bold;
	HEIGHT: 24px;
	background-image: url(../../admin/Images/Explain.gif);
	BACKGROUND-COLOR: #6ab6b6;
	background-repeat: no-repeat;
	background-position: 5px;
	padding-left: 25px;
HEIGHT: 24px; TEXT-ALIGN: left
}
TABLE.Navi TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #eafefe
}
TABLE.Navi TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Navi TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Navi TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BACKGROUND-COLOR: #efefef; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}

a {
	text-decoration: none;
} /* 链接无下划线,有为underline */
A:link {
    color: #2f2f2f;
	text-decoration: none;
}
A:visited {
    color: #2f2f2f;
	text-decoration: none;
}
A:hover { 
	color: #FF6600;
	text-decoration: none;
}
.gray {color:gray}
.red {color:red}
.blue {color:blue}


.TB_Btn_Image{overflow: hidden;width: 16px;height: 16px;margin: 2px;background-repeat: no-repeat;}
.TB_Btn_Image img{position: relative;}
div.Node1,div.Node1 td {padding:0px;margin:0px;WHITE-SPACE: nowrap;color:#000000;background-color:#6ab6b6;cursor:default}
div.Node2,div.Node2 td {padding:0px;margin:0px;WHITE-SPACE: nowrap;color:#ffffff;background-color:#0A246A;cursor:default}