vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Mar 2009 04:22:26 -0000
vti_extenderversion:SR|4.0.2.6513
vti_cacheddtm:TX|22 Mar 2009 04:22:26 -0000
vti_filesize:IR|2910
vti_cachedlinkinfo:VX|S|tbbg.gif S|tbbg.gif S|tbbg.gif S|btnover.gif S|btndown.gif S|btndown.gif S|tbbg.gif S|sb_btn_bg.gif S|sb_btn_left.gif S|sb_btn_right.gif S|sb_btn_bg2.gif S|sb_btn_left2.gif S|sb_btn_right2.gif
vti_cachedsvcrellinks:VX|FSUS|Editor/skin/vista1/tbbg.gif FSUS|Editor/skin/vista1/tbbg.gif FSUS|Editor/skin/vista1/tbbg.gif FSUS|Editor/skin/vista1/btnover.gif FSUS|Editor/skin/vista1/btndown.gif FSUS|Editor/skin/vista1/btndown.gif FSUS|Editor/skin/vista1/tbbg.gif FSUS|Editor/skin/vista1/sb_btn_bg.gif FSUS|Editor/skin/vista1/sb_btn_left.gif FSUS|Editor/skin/vista1/sb_btn_right.gif FSUS|Editor/skin/vista1/sb_btn_bg2.gif FSUS|Editor/skin/vista1/sb_btn_left2.gif FSUS|Editor/skin/vista1/sb_btn_right2.gif
vti_backlinkinfo:VX|
